body {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}

.donate-now {
    text-align: center;
    color: rgba(255, 255, 255, 0.995);
    padding-top: 250px;

}

.donate-now h1 {
    font-weight: 800;
    font-size: 65px;
    margin-bottom: auto;
}

.margin {
    margin-bottom: 45px;
}

.button-link {
    text-decoration: none;
    background-color: rgb(255, 96, 96);
    padding: 14px 18px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}

.header-bg-image {
    background-image: url(images/bg3.jpg);
    width: 1511px;
    height: 800px;
}

.donate-today {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

.donate-today h1 {
    font-weight: 700;
    font-size: 35px;
}

.taka-flex {
    display: flex;
    height: 150px;
    margin-bottom: 70px;
}

.taka {
    width: 20%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border: 10px solid white;
    background-color: rgba(240, 233, 233, 0.771);
    padding: 50px;
}

.box-color {
    border: 3px solid rgb(255, 89, 0);
}

.hr {
    text-align: center;
    color: gray;
}

.button-center {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 135px;
}

.our-donate-plan {
    text-align: center;
    margin-bottom: 30px;
}

.our-donate-plan h1 {
    font-weight: 700;
    font-size: 35px;
}

.icon-flex {
    display: flex;
    height: 500px;
}

.icon {
    width: 28%;
    margin: 2%;
    text-align: center;
    border: 10px solid white;
    padding-top: 60px;
}

.icon-1 {
    background-color: rgba(166, 166, 232, 0.996);
}

.icon-2 {
    background-color: rgba(250, 149, 169, 0.996);
}

.icon-3 {
    background-color: rgba(237, 225, 146, 0.996);
}

.footers {
    background-color: black;
    text-align: center;
    margin: 35px;
    height: 150px;
    padding-top: 30px;
}

.footers h1 {
    color: rgb(244, 70, 64);
    font-family: cursive;
}

.footers p {
    color: white;
}

.subscribe {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.subscribe h1 {
    font-weight: 700;
    font-size: 35px;
}

.email-bg {
    background-color: rgba(252, 244, 199, 0.996);
    height: 150px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 110px;
}

#input {
    height: 40px;
    width: 280px;
}